.game-title {
    text-align: center;
}

.game-btn-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.main-container {
    display: flex;

}
.map-box {
   width :  70%

}

.game-title {
    font-size: 40px;
}
.chat-tab-box {
    width: 27vw;
    height: 31vw;
    padding: 20px;
    margin:20px;
    background-color: lightgray;
    border-radius: 8px;
}
.current-chat {
    width: 28vw;
    height : 800px;
    background: red;
}

.list-tab-box {
    width: 27vw;
    height: 31vw;
    padding: 20px;
    margin:20px;
    background-color: lightgray;
    border-radius: 8px;
}