.auth-box-reg {
    width: 700px;
    

    background: linear-gradient(to left, #191919, #b41313);
    color: white;
    margin-top: 130px;
    padding: 20px;
    padding-bottom: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ccc;
    text-align: center;
    font-size: 36px;

}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../../assets/zombies-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.auth-input-btns {
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;


}